
# Binary Output
build
bin
lib

# CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# vim
*.swp

# Visual Studio Code
.vscode
